
*{
    padding: 0%;
    margin: 0%;
    font-family: "Emilys Candy", sans-serif, arial;

}
 body{
    background-color: pink;
 }

header, footer{
    width: 100%;
    padding: 10px 0px;
    background-color:rgb(210, 30, 99);
    display: flex;
    justify-content:space-around ;
}

nav{
    
    display: flex;
    align-items: center;
    gap: 20px;
}

h2{
    font-size: 50pt;

}

a{
    color:rgb(210, 30, 99) ;
    text-decoration: none;
    background-color:aliceblue;
    padding: 10px;
    border-radius: 5px;
}

#logo img {
    height: 60px;
    background-color: aliceblue;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
}
.bolos{
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    border: 2px solid rgba(184, 182, 182, 0.096);
    border-radius: 5px;
    box-shadow: rgba(197, 63, 126, 0.425) 5px 5px 10px;
    gap: 10px;
    background-color: aliceblue;
}

.bolos img{
    width: 100%;
    border-radius: 5px;
}

#grupoBolos{
    display: flex;
    margin: 20px;
    gap: 30px;
}
table{
    width: 400px;
    border-collapse: collapse;
}

th,h1,td{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

#tabela {
    text-align: center;
}

p{
    text-align: justify;
}